*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


/* common style  */
.sign-in-button{
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

            /* header section  */
header{
    max-width: 100%;
    height: 698px;
    background-image: url('/Assets/Hero-bg.png');
    margin: 0 auto;
}

.navbar{
    width:1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0;
}

.navbar .logo{
    font-size: 34px;
    color: #4E47FF;
}

.cool-dark-section{
    width: 905px;
    height: 237px;
    text-align: center;
    /* border: 1px solid black; */
    margin: 158px auto;
}
.header-template{
    font-size: 65px;
    margin-bottom: 40px;
}
/* main section start  */
.main-action-section{
    max-width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    margin: 116px auto;
}

.action-section{
    width: 517px;
    height: 203px;
    margin:63px 0 ;
    
}
.main-header{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}

.main-para-one{
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}

.webflow-image img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* main section 2  */

.thousand-people{
    max-width: 1140px;
    height: 306px;
    margin: 116px auto;
    background-color: rgb(79, 71, 255, 10%);
    border-radius: 24px;
}
.all-users{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: 'inter', sans-serif;
    color: #4E47FF;
    padding-top: 60px;
    /* padding: 80px 50px; */
}
.join-header{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 30px;
}

.subscribe{
    font-size: 80px;
    font-weight: bold;
}

.subscribe .active-para{
    font-size: 20px;
    text-align: center;
}
